@use "./variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Playfair+Display:wght@400;500;600;700&display=swap');

body {
  font-family: 'Lora', serif;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  color: $dark-green;
}
