@use "../styles/index" as *;

/* Wrapper */
.confirmation-page {
  position: relative;
  width: 100%;
}

/* Progressbar ovanför bilden */
.confirmation-steps {
  margin-top: 0;
  display: flex;
  justify-content: center;
}

/* Bakgrundsbilden */
.confirmation-background {
  background-image: url("../assets/BröllopsBlommor.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  position: relative;
  margin-top: 20px; 
}

/* Kortet som ligger på bilden */
.confirmation-card {
  position: absolute;
  top: 15%;    
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  text-align: center;
  
}

.confirmation-title {
  color: #c9a44f;
  font-weight: 500;
}


/* Orderboxen */
.order-box {
  background: $offwhite;
  border: 1px solid $dark-green;
  border-radius: 10px;
  padding: 40px;
  padding-top: 15px;
  margin-bottom: 30px;
  
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


/*  KNAPP */

.continue-btn {
  display: inline-block;
  padding: 12px 24px;
  background: $dark-green;
  color: $offwhite;
  border-radius: 6px;
  font-family: 'Lora', serif;
  font-size: 17px;
  text-decoration: none;
  transition: 0.2s ease;

  &:hover {
    background: $gray;
  }
}
