@use "../styles/index" as *;

/* SIDEBAR – STICKY DESKTOP */
@media (min-width: 900px) {
  .product-sidebar {
    position: sticky;
    top: 111px;
    align-self: flex-start;
    height: fit-content;
  }
}

/* Mobil: ingen sticky */
@media (max-width: 899px) {
  .product-sidebar {
    position: static;
  }
}

/* LAYOUT – SIDEBAR + CONTENT */
.products-layout {
  display: flex;
  align-items: flex-start;   // viktigt för sticky
  gap: 40px;
  width: 100%;
}

.products-content {
  flex: 1; 
  padding: 20px 160px 40px 160px;
}

@media (max-width: 900px) {
  .products-layout {
    display: block;
  }

  .products-content {
    padding: 20px 20px 40px 20px;
  }
}

 /*  TITEL */
.products-title {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 1.8px;
  color: $dark-green;
  margin-top: 45px;
  margin-bottom: 55px;
}

/*   FILTER */
.products-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 25px auto 40px auto;

  select,
  input {
    background: transparent;
    border: none;
    border-bottom: 1px solid $dark-green;
    padding: 8px 4px;
    font-family: 'Lora', serif;
    font-size: 15px;
    color: $dark-green;
    min-width: 180px;
  }
}

  /* GRID */
.products-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  gap: 48px;
  width: 100%;
  grid-auto-rows: min-content;
}

 /*  PRODUKTKORT */
.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid $dark-green;
  border-radius: 8px;
  background: white;
  transition: 0.25s ease;
  overflow: hidden;
  align-self: start;

  &:hover {
    background: $beige;
    transform: translateY(-3px);
  }
}

 /* BILD */
.product-image-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  max-height: 180px;
  overflow: hidden;
}

.product-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TEXT och PRIS */
.product-click-area {
  padding: 8px 12px 4px 12px;
  flex-direction: column;
  text-align: center;
  gap: 4px;
}

.product-click-area h3 {
  font-size: 15px;
  margin: 2px 0;
}

.product-click-area p {
  font-size: 14px;
  margin: 0;
}

/* ACTIONS, KNAPPAR */
.product-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  padding: 16px;
}

.quantity-selector {
  display: flex;
  align-items: center;
  gap: 8px;
}

.quantity-selector button {
  width: 28px;
  height: 28px;
  background: $dark-green;
  color: $offwhite;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.quantity-selector span {
  min-width: 20px;
  text-align: center;
}

.add-to-cart-btn {
  flex: 1;
  padding: 8px 12px;
  background: $dark-green;
  color: $offwhite;
  border: none;
  border-radius: 6px;
  font-family: 'Lora', serif;
  font-size: 14px;
}
