@use "../styles/index" as *;

/*  SIDEBAR på DESKTOP, STICKY från PRODUCTSPAGE*/
.product-sidebar {
  width: 280px;
  min-width: 260px;

  background: $gray;
  border: none;

  padding: 20px;
  padding-top: 30px;

  border-radius: 0 0 10px 10px;
} 

.sidebar-input.hidden {
  visibility: hidden;
}


.sidebar-input.visible {
  opacity: 1;
  pointer-events: auto;
}


 /* MOBIL, SLIDE-IN MENY */

.sidebar-toggle {
  display: none;
}

@media (max-width: 900px) {
  .sidebar-toggle {
    display: block;
    position: fixed;
    top: 110px;
    left: 10px;
    z-index: 999;
    padding: 8px 14px;
    background: $dark-green;
    color: $offwhite;
    border: none;
    border-radius: 6px;
    font-size: 14px;
  }

  .product-sidebar {
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    min-height: 100vh;

    padding-top: 140px;
    overflow-y: auto;

    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 998;
  }

  .product-sidebar.open {
    transform: translateX(0);
  }
}

/*  INNEHÅLL */

.top-text {
  margin-top: 10px;
  max-width: 240px;
  font-size: 15px;
  color: $dark-green;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;
}

.sidebar-image-block {
  position: relative;
  width: 95%;
  margin: 10px auto 0 auto;
  text-align: center;
}

.sidebar-image-block img {
  width: 90%;
  display: block;
  border-radius: 8px;
  margin-bottom: 3px;
}

.image-title {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
  color: $offwhite;
  font-size: 20px;
  font-weight: 300;
  text-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

.sidebar-text {
  font-size: 17px;
  color: $dark-green;
  max-width: 240px;
  margin: 0 auto;
  text-align: center;
}

.sidebar-row {
  display: flex;
  width: 100%;
  gap: 8px;
  justify-content: center;
}

.sidebar-select {
  flex: 1;
  padding: 6px;
  height: 32px;
  border: 1px solid $dark-green;
  border-radius: 4px;
  background: white;
  font-size: 13px;
}

.sidebar-input {
  @extend .sidebar-select;
}

.buy-btn {
  padding: 6px 10px;
  height: 32px;
  background: $dark-green;
  color: $offwhite;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;

  &:hover {
    background: $gray;
  }
}
